* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: #263238;
}

.team {
  width: 100%;
  max-width: 960px;
  margin: 10px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fafafa;
}

.team img {
  width: 100%;
  margin: 20px;
  box-shadow: rgba(210, 231, 240, 0.12) 0px 2px 4px 0px,
    rgba(217, 228, 233, 0.32) 0px 2px 16px 0px;
}

.team h1 {
  font-size: 5rem;
  background: -webkit-linear-gradient(#80d8ff, #f4ece6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.team p {
  font-size: 1.8rem;
}

.profile {
  width: 100%;
  max-width: 800px;
  display: flex;
  margin: auto;
  border: none;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.general {
  width: 40%;
  background-color: #f4ece6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.general img {
  width: 60%;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  margin-top: 40px;
}

.general .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  margin-top: 30px;
}

.general .info .name {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.general .info .underline {
  width: 30%;
  border-bottom: 2px solid #0050ff;
}

.general .info .office {
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
}

.general .social {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  margin-top: 30px;
  padding: 5px;
}

.general .social a {
  font-size: 2.4rem;
}

.general .social a + a {
  margin-left: 20px;
  color: #24292f;
}

.detail {
  width: 60%;
  background-color: #f5f5f5;
  padding: 40px 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.detail .title h1 {
  font-size: 2.8rem;
  font-weight: 700;
}

.detail .title p {
  font-size: 1.8rem;
  font-weight: 300;
}

.detail .content {
  display: flex;
  flex-direction: column;
}

.detail .content .field {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  font-size: 1.4rem;
}

.detail .content .field .label {
  width: 30%;
  font-weight: 700;
}

.detail .content .field .text {
  background-color: #fff;
  flex-grow: 1;
  text-align: center;
  font-weight: 300;
  padding: 5px 0;
  border-radius: 8px;
}

.detail .back-link {
  margin-right: 10px;
  font-size: 3rem;
}
